<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
</head>

<body>
    <h1>Change data according to your desire</h1>
    <form method="POST">
        <label for="rollNo">Roll No {{ record[0] }}:</label>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ record[1] }}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ record[2] }}" required>
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ record[3] }}" required>
        <br>
        <label for="dob">Date of Birth:</label>
        <input type="text" id="dob" name="dob" value="{{ record[4] }}" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ record[5] }}" required>
        <br>
        <label for="interest">Interest:</label>
        <input type="text" id="interest" name="interest" value="{{ record[6] }}" required>
        <br>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" value="{{ record[7] }}" required>
        <br>
        <label for="degree">Degree:</label>
        <input type="text" id="degree" name="degree" value="{{ record[8] }}" required>
        <br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="{{ record[9] }}" required>
        <br>

        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="startDate" value="{{ record[10] }}" required>
        <br>

        <label for="endDate">End Date:</label>
        <input type="text" id="endDate" name="endDate" value="{{ record[11] }}" required>
        <br>
        <input type="submit" value="Update">
    </form>
</body>

</html>
